/*CONTAINERS*/
.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.container-header {
    display: block;
    max-width: 1360px;
    padding: 0 30px;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*CONTAINERS: END*/
/*ANIMATIONS*/
@keyframes circle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes up_down {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-50%);
    }
}
/*ANIMATIONS: END*/
/*HEADER*/
.header_s{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 40px;
    z-index: 999;
    transition: .3s;
}
.header_s--a{
    padding: 10px 0;
    background-color: rgba(0,0,0,.1);
    transition: .3s;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 17px;
    animation: circle infinite linear 2s;
}
.logo:hover{
    animation-play-state: paused;
}
.menu{
    display: flex;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
    padding-right: 28px;
}
.search_item{
    display: none;
}
.hamburger{
    cursor: pointer;
    padding-bottom: 3px;
}
.hamburger:hover .line{
    transition: .3s;
    background-color: #f84444;
}
.line{
    width: 15px;
    height: 2px;
    background-color: #7c7e88;
    transition: .3s;
}
.line:nth-of-type(2n){
    margin: 3px 0;
}
/*HEADER SECTION: END*/
/*--------------INTRO SECTION START CSS--------------------*/
.intro_s{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.intro_s:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/intro/intro_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}
.intro_s:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
    z-index: -1;
}
.intro_s__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*BTN CLASS*/
.btn{
    font-family: 'Raleway-ExtraBold';
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
    color: #fff;
    width: 188px;
    height: 35px;
    transition: .5s;
    position: relative;
    overflow: hidden;
}
.btn:after{
    content: 'inside our studio';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f84444;
    transition: .5s;
}
.btn:before{
    content: 'inside our studio';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f00;
    transition: .5s;
    transform: translateY(100%);
}
.btn:hover{
    color: #fff;
    transition: .5s;
}
.btn:hover:after{
    transform: translateY(-100%);
    transition: .5s;
}
.btn:hover:before{
    transform: translateY(0);
    transition: .5s;
}
/*BTN CLASS:FINISHED*/
.title{
    font-family: 'Raleway-Bold';
    font-size: 35px;
    padding-top: 25px;
    color: #fff;
    letter-spacing: 75px;
    margin-left: 75px;
}
.intro_s__arrow{
    position: absolute;
    bottom: 50px;
    cursor: pointer;
}
.intro_s__arrow > img {
    animation: up_down .5s linear alternate infinite;
}
/*ABOUT US SECTION*/
.about_us_s{
    padding: 140px 0 170px 0;
}
.title_block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title_block img{
    margin-bottom: 30px;
}
.title_block h2 {
    font-family: 'Raleway-ExtraBold';
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;
    width: 27%;
    line-height: 33px;
    color: #2c2e37;
}
.content_block{
    padding-left: 73px;
}
h3{
    font-family: 'Raleway-ExtraBold';
    font-size: 20px;
    line-height: 43px;
    text-transform: uppercase;
    color: #2c2e37;
}
.content_block p {
    width: 75%;
}
.text{
    position: relative;
    font-family: 'OpenSans-Light';
    font-size: 14px;
    line-height: 26px;
    color: #949494;
}
.line_text:before{
    position: absolute;
    left: -82px;
    content: '';
    height: 30px;
    width: 2px;
    background-color: #d1d1d1;
}
.img_wrap img{
    width: 570px;
    height: 400px;
}
.about_us_s .flex-container:nth-child(2){
    padding-top: 112px;
}
.about_us_s .flex-container:nth-child(3){
    padding-top: 50px;
}
.about_us_s .flex-container:nth-child(4){
    padding: 165px 0 55px 80px;
}
.about_us_s .flex-container:nth-child(4) p:first-child {
    padding: 0 60px 0 0;
}
.btn_wrap{
    display: flex;
    justify-content: center;
}
.btn_wrap a{
    margin-top: 1px;
    width: 130px;
    height: 40px;
    background-color: #f84444;
    text-align: center;
    line-height: 38px;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid transparent;
    font-size: 12px;
    font-family: 'Raleway-ExtraBold';
    margin-right: 19px;
    transition: .5s;
}
.btn_wrap a:nth-child(2){
    margin-top: 0;
    height: 42px;
    border: 2px solid #e6e6e6;
    line-height: 38px;
    background-color: transparent;
    color: #818181;
}
.btn_wrap a:hover{
    background-color: transparent;
    border: 2px solid  #f84444;
    color:  #f84444;
}

/*PROJECT SECTION*/
.project_s{
    position: relative;
}
.project_s:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-color: #2c2e37;
    z-index: -1;
}
.project_s:before{
    content: '';
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    max-height: 100px;
    height: 100%;
    background-color: #dfdfdf;
}
.project_s__wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 115px;
}
.project_s__title{
    font-size: 23px;
    color: #fff;
    font-family: 'Raleway-ExtraBold';
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
}
.project_s__wrap p {
    color: #949494;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 15px 0 25px 0;
}
/*SLIDER PROJECTS*/
.project_slider{
    display: flex;
    justify-content: center;
    margin: 100px 25px 0 25px;
    position: relative;

}
.slide{
    max-width: 450px;
    width: 100%;
    height: 450px;
    margin-top: 75px;
}

.active{
    position: relative;
    margin-top: 0;
    margin-right: 190px;
    transform-origin: 0 0;
    transform: scale(1.335);
}
.slide img{
    max-width: 100%;
    height: 100%;
}
.slide_arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
}
.slide_arrow:nth-child(2n){
    left: -30px;
}
.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.75);
}
.play:hover {
    transform: translate(-50%, -50%) scale(0.7);
}
.text_content{
    margin-top: 120px;
    width: 100%;
    position: relative;
}
.text_content h3
{
    color: #2d2f38;
    text-align: left;
    margin-left: 25px;
}
.text_content > p{
    max-width: 40%;
    text-align: left;
    margin: 0 0 0 25px;
    padding: 0;
    position: relative;
}
.text_content > p:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.text_content > p:after{
    content: '';
    position: absolute;
    top: 30%;
    left:545px;
    height: 1px;
    width: 402px;
    background-color:#dfdfdf;
    z-index: 1;
}
.slide_number{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.slide_number li{
    display: inline;
    margin-right: 20px;
}
.number a{
    font-family: Raleway-Bold;
    font-size: 16px;
    color:#d3d3d3;
}
.active_number a{
    color:#2c2e37;
}
.note{
    margin: 44px 0 0 25px;
    display: flex;
}
.note img{
    height: 16px;
    width: 16px;
}
.note p{
    text-align: left;
    padding: 0;
    margin: 0 10px;
}
/*SLIDER PROJECTS: END*/
/*PROJECT SECTION: END*/
/*OUR JOURNAL SECTION*/
.journal_s{
    position: relative;
    margin-top: 205px;
    height: 680px;
    width: 100%;
    background-color: #FAFAFA;
}
.journal_s__wrap{
    position: relative;
}
.journal_s__img{
    position: absolute;
    top: 0;
    right: 0;
 }
.journal_s__img > img{
    top: 285px;
    right: 545px;
    position: absolute;
    z-index: 1;
}
.journal_s__img > .bg_img{
    position: absolute;
    top: -86px;
    right: 0;
}
.journal_s__title{
    position: relative;
}
.journal_s__title img{
    margin: 210px 0 28px 0;
}
.journal_s__title p{
    max-width: 355px;
    width: 100%;
}
.journal_s .btn_wrap{
    justify-content: left;
    margin-top: 25px;
}
/*OUR JOURNAL SECTION:END*/
/*OUR TEAM SECTION*/
.team_s{
    width: 100%;
    padding-top: 140px;
}
.team_s__wrap .title_block{
    margin-bottom: 120px;
}
.our_team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.team_item{
    width: 330px;
}
.team_item h5{
    margin-top: 50px;
    font-family: 'Raleway-ExtraBold';
    font-size: 15px;
    color: #2c2e37;
}
.team_item h4{
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Raleway-Medium';
    color: #2c2e37;
}
.team_item p{
    position: relative;
    margin-top: 60px;
    font-size: 14px;
    font-family: 'OpenSans-Italic';
    color: #949494;
    line-height: 20px;
    width: 95%;
}
.team_item p:before{
    content: '';
    top: -30px;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #949494;
}
.team_item__sn a{
    margin: 40px 20px 70px 0;
}
.filter{
    filter: grayscale(0.75);
    transition: .5s;
}
.team_item:hover .filter{
    filter: grayscale(0);
    transition: .5s;
}
.brands{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}
/*OUR TEAM SECTION:END*/
/*FOOTER*/
.footer_s{
    height: 300px;
    width: 100%;
    padding-top: 85px;
    background-color: #2c2e37;
}
.footer_s__wrap{
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'OpenSans-Light';
    font-size: 13px;
}
.footer_s__wrap li{
    margin-bottom: 30px;
}
.footer_s__wrap li a{
    position: relative;
    color: white;
}
.footer_s__wrap li a:after{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: white;
}
.footer_s__wrap li:hover a:after{
    width: 100%;
    transition: .5s;
}
.footer_s__wrap .social_networks a{
    margin: 0 10px;
}
.footer_s__wrap .form{
    width: 420px;
}
.footer_s__wrap .form h4{
    font-size: 14pt;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.footer_s__wrap .form p{
    font-size: 13px;
    margin-bottom: 30px;
}
.follow_email{
    width: 335px;
    height: 36px;
    padding: 0 10px;
    color: white;
    border: 2px solid #42434B;
    background-color: transparent;
}
.follow_email:focus, .follow_email:active{
    outline: 0;
}
.input{
    position: relative;
}
.input img{
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
}
.hover_effect:hover{
    transform: scale(1.1);
}

/*FOOTER: END*/
@media (max-width: 1024px) {
    .container{
        max-width: 825px;
        width: 100%;
        padding: 0;
    }
}